.score{
    width: 80px;
}
/* #app{
    background-image: url(/img/green_bg.svg);
    background-repeat: no-repeat;
} */

  #scoreValuesContainer img{
    transition: transform 1s ease-in-out;
  }
  #scoreValuesContainer img.selected {
    transform: rotate(360deg);
  }
  .weather-svg{
    width: 5em;
  }
  .shapeBg{
    background: url("../img/blue_bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 165% 165%;
  -webkit-animation: spin 0.5s ease-in;
          animation: spin 0.5s ease-in;
  }
  .shapeBg1{
    background: url("../img/green_bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 165% 165%;
  -webkit-animation: spin 0.5s ease-in;
          animation: spin 0.5s ease-in;
  }
  .shapeBg2{
    background: url("../img/purple_bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 165% 165%;
  -webkit-animation: spin 0.5s ease-in;
          animation: spin 0.5s ease-in;
  }